.calculator {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 690px;
  @include set-background($dark-theme);
  border-radius: 25px;

  &--light-theme {
    @include set-background($light-theme);
  }

  &__themes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    z-index: 1000;
    display: flex;
    border-radius: 20px;
    @include set-background($dark-theme-display);
    max-height: 45px;
    max-width: 120px;

    &--light-theme {
      @include set-background($light-theme-display);
    }
  }

  &__white-theme,
  &__dark-theme {
    padding: 10px;
    @include center;

    svg {
      fill: $non-active;
      width: 100%;
      height: 100%;
    }
  }

  &__dark-theme--active {
    svg {
      fill: set-text-color($dark-theme-display);
    }
  }

  &__white-theme--active {
    svg {
      fill: set-text-color(#fff);
    }
  }

  &__display {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  &__expression {
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    font-size: 55px;
    font-weight: 700;

    svg {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      fill: $orange-text;
      stroke: $orange-text;
    }
  }

  &__result {
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    font-size: 27px;
    margin-bottom: 10px;
  }

  &__btns {
    background-color: $dark-theme-display;
    border-radius: 30px;

    &--light-theme {
      background-color: $light-theme-display;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }
  }

  &__btn {
    @include set-background($dark-theme);
    border-radius: 15px;
    font-size: 22px;
    font-weight: 700;
    @include center;
    padding: 15px 0;

    svg {
      height: 25px;
      width: 25px;
      fill: $light-theme;
    }

    &--light-theme {
      background-color: $light-theme;
      color: $dark-theme;

      svg {
        fill: $dark-theme;

        path {
          fill: $dark-theme;
        }
      }
    }

    &-rotate {
      svg {
        transform: scaleX(-1);
      }
    }

    &--green {
      &--light-theme {
        background-color: $light-theme;
      }

      svg {
        fill: $green-text;
        stroke: $green-text;
      }
      color: $green-text;
    }

    &--red {
      &--light-theme {
        background-color: $light-theme;
      }

      svg {
        fill: $orange-text;
      }
    }
  }
}
