html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  @include center;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: rgba(122, 117, 117, 0.212);
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 30px;
}
