$dark-theme: rgb(26, 25, 34);
$dark-theme-display: rgb(37, 34, 44);
$green-text: rgb(0, 209, 157);
$orange-text: rgb(243, 62, 62);
$non-active: rgb(177, 177, 177);
$light-theme: rgb(255, 255, 255);
$light-theme-display: rgb(240, 240, 240);
